/* You can add global styles to this file, and also import other style files */
body {
  background-color: #151515;
  background-image: url(./assets/layout.png);
  background-repeat: repeat;
  -webkit-animation: animate_background 2s linear 0s infinite;
  -moz-animation: animate_background 2s linear 0s infinite;
  -o-animation: animate_background 2s linear 0s infinite;
  animation: animate_background 2s linear 0s infinite;
  transition: background .5s;
  z-index: -1;
  color: #FFF;
}

h4 {
  color: #706f6f;
}

.jumbotron {
  border-color: #007bff !important;
  border-bottom: 2px dashed;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.3);
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.avatar_img {
  border-color: #007bff !important;
  border: 3px dashed;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.btn-primary {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0) !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.card {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0) !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.list-group-item {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 0;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.footer {
  margin-top: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
  line-height: 60px;
}

.footer a {
  color: #3d78c4;
  text-decoration: none;
  font-size: 1rem;
  line-height: unset;
  font-weight: bold;
}

.footer p {
  color: #7cb5ff;
  font-size: 1rem;
  line-height: unset;
}

@-webkit-keyframes animate_background {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -200px -200px;
  }
}

@-moz-keyframes animate_background {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -200px -200px;
  }
}

@-o-keyframes animate_background {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -200px -200px;
  }
}

@keyframes animate_background {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -200px -200px;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
