<div class="jumbotron">
    <h2 class="display-3">Hi, I'm Nitair</h2>
    <p class="lead">Time to introduce myself</p>
    <hr class="my-2" style="border-color: #FFF;">
    <p>Besides some nice sources</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://bitbucket.org/product" role="button">BitBucket</a>
        <a class="btn btn-primary btn-lg" href="https://github.com/" role="button">GitHub</a>
        <a class="btn btn-primary btn-lg" href="https://angular.io/" role="button">Angular</a>
        <a class="btn btn-primary btn-lg" href="https://getbootstrap.com/" role="button">Bootstrap</a>
    </p>
</div>
<style>
.list-group-item {
    border-radius: 0;
}
</style>
<div class="background_layout">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                  <img class="card-img-top avatar_img" src="https://sunrage-network.com/profile1.png" alt="">
                  <div class="card-body">
                    <h4 class="card-title"><span style="color: gray;">//</span>i.Peter Stein</h4>
                    <i class="fas fa-envelope-square" style="color: #3d78c4;"></i> - <a href="mailto:peter.stein94@gmail.com" class="card-text" style="color: #7cb5ff;">peter.stein94@gmail.com</a>
                    <br>
                    <i class="fab fa-discord" style="color: #3d78c4;"></i> - <a href="https://discord.gg/xj5n5yS" class="card-text" style="color: #7cb5ff;">Nitair#7518</a>
                    <br>
                    <i class="fab fa-github-square" style="color: #3d78c4;"></i> - <a href="https://github.com/nitair" class="card-text" style="color: #7cb5ff;">Nitair</a>
                    <br>
                    <i class="fab fa-linkedin" style="color: #3d78c4;"></i> - <a href="https://www.linkedin.com/in/nitair/" class="card-text" style="color: #7cb5ff;">Peter Stein</a>
                  </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                      <h4 class="card-title"><span style="color: gray;">//</span>i.<span style="color: red;">♥</span></h4>
                      <a href="https://github.com" class="card-text" style="color: #7cb5ff;">Programming</a><span style="color: gray;"> // </span>
                      <a href="https://youtube.com" class="card-text" style="color: #7cb5ff;">YouTube</a><span style="color: gray;"> // </span>
                      <a href="https://github.com" class="card-text" style="color: #7cb5ff;">GitHub</a><span style="color: gray;"> // </span>
                      <a href="https://github.com" class="card-text" style="color: #7cb5ff;">Learning new programming languages</a><span style="color: gray;"> // </span>
                      <a href="https://store.steampowered.com/" class="card-text" style="color: #7cb5ff;">Gaming</a>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title"><span style="color: gray;">//</span>i.Projects</h4>
                      <a href="https://github.com/TrinityCore/TrinityCore" class="card-text" style="color: #7cb5ff;">TrinityCore (MMORPG Framework based mostly in C++)</a><span style="color: gray;"> // </span>
                      <a href="https://github.com/IBM/ibm.github.io" class="card-text" style="color: #7cb5ff;">IBM @ GitHub</a><span style="color: gray;"> // </span>
                      <a href="https://github.com/Nitair/unknown" class="card-text" style="color: #7cb5ff;">Unknown (closed-source browser game)</a><span style="color: gray;"> // </span>
                      <a href="https://github.com/Nitair/registration" class="card-text" style="color: #7cb5ff;">Registration @ TrinityCore</a>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title"><span style="color: gray;">//</span>i.Career (lol.)</h4>
                      <a href="https://ibm.com/" class="card-text" style="color: #7cb5ff;"><span style="font-weight: bold;">IBM @ Lufthansa</span> as IT Technician</a><span style="color: gray;"> // </span>
                      <a href="https://www.jetzt-einchecken.de/" class="card-text" style="color: #7cb5ff;"><span style="font-weight: bold;">carebyphone</span> as Customer Service Representative</a><span style="color: gray;"> // </span>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                      <h4 class="card-title"><span style="color: gray;">//</span>i.Skills</h4>
                      <ul class="list-group" style="color: #7cb5ff;">
                          <li class="list-group-item">HTML5</li>
                          <li class="list-group-item">CSS3</li>
                          <li class="list-group-item">PHP</li>
                          <li class="list-group-item">JavaScript (Node JS, Angular, Electron JS etc.)</li>
                          <li class="list-group-item">C++</li>
                          <li class="list-group-item">MySQL</li>
                          <li class="list-group-item">UNIX-Administration (Debian-based)</li>
                      </ul>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br>
